<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="login-register.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Sign In/Sign Up</title>
</head>
<body>
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' : ''" id="container">
    <!-- Register Form -->
    <div class="form-container sign-up">
      <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <h1>Register Account</h1>
        
        <!-- Admin Name Field -->
        <input matInput type="text" name="name" [(ngModel)]="signUpObj.name" placeholder="Admin Name" required>
        <div *ngIf="registerForm.submitted && registerForm.controls['name']">
        </div>
        <i class="shield"><span class="material-symbols-outlined">shield_person</span></i>

        <!-- Username Field -->
        <input  matInput type="email" name="username" [(ngModel)]="signUpObj.username" placeholder="Username" required>
        <div *ngIf="registerForm.submitted && registerForm.controls['username']">
        </div>
        <i class="person"><span class="material-symbols-outlined">person</span></i>

        <!-- Password Field -->
        <input matInput type="password" name="password" [(ngModel)]="signUpObj.password" placeholder="Password" [type]="isPasswordVisible ? 'text' : 'password'" id="password-1" required>
        <div *ngIf="registerForm.submitted && registerForm.controls['password']">
        </div>
        <i class="lock"><span class="material-symbols-outlined">lock</span></i>
        <i id="visibilityBtn" (click)="toggleVisibility()">
          <span id="icon" class="material-symbols-outlined">{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</span>
        </i>
        
        <!--Button Field-->
        <button type="submit" mat-flat-button>Register</button>
      </form>
    </div>
    
    <!-- Sign-In Form -->
    <div class="form-container sign-in">
      <form #signInForm="ngForm" (ngSubmit)="onLogin(signInForm)">
        <h1>Sign In</h1>

        <!-- Username Field -->
        <input matInput type="email" name="username" [(ngModel)]="loginObj.username" placeholder="Username" required>
        <div *ngIf="signInForm.submitted && signInForm.controls['username']">
        </div>
        <i class="person"><span class="material-symbols-outlined">person</span></i>

        <!-- Password Field -->
        <input matInput type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" [type]="isPasswordVisible ? 'text' : 'password'" id="password-1" required>
        <div *ngIf="signInForm.submitted && signInForm.controls['password']">
        </div>
        <i class="lock"><span class="material-symbols-outlined">lock</span></i>
        <i id="visibilityBtn" (click)="toggleVisibility()">
          <span id="icon" class="material-symbols-outlined">{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</span>
        </i>

        <!--Button Field-->
        <button type="submit" mat-flat-button>Sign In</button>
      </form>
    </div>
    
    <!--Toggle Container-->
    <div class="toggle-container">
      <div class="toggle">
    <!--Toggle Left-->
        <div class="toggle-panel toggle-left">
          <img src="assets/logo.png" alt="Company Logo">
          <h1>IT Squarehub</h1>
          <p>Building Quality Services Without Compromise</p>
          <h3>Inventory Management System</h3>
          <button class="hidden" id="register" mat-flat-button (click)="isSignDivVisiable = false">Sign In</button>
        </div>
     <!--Toggle Left-->
        <div class="toggle-panel toggle-right">
          <img src="assets/logo.png" alt="Company Logo">
          <h1>IT Squarehub</h1>
          <p>Building Quality Services Without Compromise</p>
          <h3>Inventory Management System</h3>
          <button class="hidden" id="register" mat-flat-button (click)="isSignDivVisiable = true">Register</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>