
<div class="main-title">
  <h3><span class="material-symbols-outlined icon-size">inventory_2</span> SUPPLIES</h3>
</div>
<div class="button-add">
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditForm()">
    ADD SUPPLY <mat-icon>add</mat-icon>
  </button>
</div>

<!-- TABLE -->
<mat-form-field>
  <mat-label><span class="material-icons">search</span> Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ballpen" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let supply"> {{supply.category}} </td>
    </ng-container>

    <!-- Item Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
      <td mat-cell *matCellDef="let supply"> {{supply.item}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let supply"> {{supply.color}} </td>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
      <td mat-cell *matCellDef="let supply"> {{supply.size}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
      <td mat-cell *matCellDef="let supply"> {{supply.quantity}} </td>
    </ng-container>

    <!-- Supplies Taken Column -->
    <ng-container matColumnDef="supplies_taken">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplies Taken </th>
      <td mat-cell *matCellDef="let supply"> {{supply.suppliesTaken}} </td>
    </ng-container>

    <!-- Supplies Left Column -->
    <ng-container matColumnDef="supplies_left">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplies Left </th>
      <td mat-cell *matCellDef="let supply"> {{supply.suppliesLeft}} </td>
    </ng-container>

    <!-- Cost Per Unit Column -->
    <ng-container matColumnDef="cost_per_unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost per Unit </th>
      <td mat-cell *matCellDef="let supply"> {{supply.costPerUnit | currency:"PHP"}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let supply"> {{supply.total | currency:"PHP"}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let supply"> 
        <button mat-icon-button (click)="openEditForm(supply)">
          <mat-icon class="edit-btn">edit</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteSupply(supply.id)">
          <mat-icon class="delete-btn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
